.aysw-footer{ clear:both; font:12px/18px "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, Verdana, "\5B8B\4F53"; color:#666; border-top:5px solid #D8D8D8; text-align:center; padding:15px 0 32px 0; background:#EFEFEF; *zoom:1;}
.aysw-footer a{ color:#06c; text-decoration:none;}
.aysw-footer a:hover{ text-decoration:underline;}
.aysw-footer .aysw-inner{ width:940px; margin:0 auto; text-align:left; overflow:hidden; *zoom:1;}
.aysw-footer h1{ margin:0; font-size:12px; font-weight:bold; color:#333; height:28px; padding-top:4px;}
.aysw-footer-directions{ width:550px; float:left;}
.aysw-footer-flow{ width:499px; height:110px; padding-left:1px; overflow:hidden; background:url(http://static-img2.cdn.aliyuncs.com/images/www-summerwind/sprite_footer.gif) 0 5px no-repeat; margin-top:30px;}
.aysw-footer-flow a{ display:block; float:left; width:49px; height:45px; margin:12px 62px 0 0; text-indent:-99999px; overflow:hidden; background:#FFF; opacity:0; filter:alpha(opacity=0);}
.aysw-footer-flow a:hover{ opacity:0.2; filter:alpha(opacity=20);}
.aysw-footer-supports{ float:left; width:390px; overflow:hidden; *zoom:1;}
.aysw-footer-supports .aysw-left{ float:left; padding:15px 25px 15px 0; line-height:170%;}
.aysw-footer-supports .aysw-right{ float:left; padding:15px 0; line-height:170%}
.aysw-footer-livechat{ display:inline-block; *display:inline; *zoom:1; background:url(http://static-img2.cdn.aliyuncs.com/images/www-summerwind/sprite_footer.gif) 0 -170px no-repeat; width:86px; height:27px; text-indent:-99999px; overflow:hidden; vertical-align:middle;}
.aysw-footer-livechat:hover{ opacity:0.8; filter:alpha(opacity=80);}
.aysw-footer-copyright{ clear:both; padding-top:20px; text-align:center; line-height:27px;}
.aysw-footer-copyright a{ color:#656565; *zoom:1; vertical-align:middle;}
.aysw-footer-copyright i{ display:inline-block; *display:inline; *zoom:1; font-size:0; overflow:hidden; line-height:0; width:1px; height:12px; margin:7px 0; background:#C8C8D0; margin:0 10px; vertical-align:middle;}
.aysw-footer-hr{ clear:both; background:#FBFBFB; border-top:1px solid #DFDFDF; display:block; height:1px; font-size:0; line-height:0; overflow:hidden;}
.aysw-footer-section{ overflow:hidden; *zoom:1;}
.aysw-footer-certificates{ text-align:center; padding-top:10px;}
.aysw-footer-certificates a{ font-size:0; line-height:0; overflow:hidden; text-decoration:none;}
.aysw-footer-certificates a:hover{ text-decoration:none;}
.aysw-footer-certificates img{ margin:0 5px; vertical-align:middle; *zoom:1;}
.aysw-footer-certificates a:hover img{ opacity:0.8; filter:alpha(opacity=80);}

/* new footer */
.aysw-footer-goldmetal-directions{ width:16.66%; float:left;}
.aysw-footer-goldmetal-directions .aysw-left{ float:left; padding:10px 0 10px 0; line-height:200%;}
.aysw-footer-goldmetal-supports{ float:left; width:16.66%; overflow:hidden; *zoom:1;}
.aysw-footer-goldmetal-supports .aysw-left{ float:left; padding:10px 0 15px 0; line-height:200%;}
.aysw-footer-goldmetal{ width:330px; float:left;}
.aysw-footer-goldmetal-wrap{ border:1px dotted #CCC; border-width:0 1px 0 1px; margin:10px 70px;}
.aysw-footer-goldmetal-img{ display:block; clear:both; width:130px; height:120px; margin:0 auto; background:url(http://static-img2.cdn.aliyuncs.com/images/www-summerwind/sprite_big.gif?v=20121220) -251px -90px no-repeat; text-indent:-10000px; overflow:hidden;}
.aysw-footer-goldmetal-beian{ float:left; width:16.66%; overflow:hidden; *zoom:1;}
.aysw-footer-goldmetal-beian .aysw-left{ float:left; padding:10px 0 15px 0; line-height:200%;}
.aysw-footer-goldmetal-others{ float:left; width:16.66%; overflow:hidden; *zoom:1;}
.aysw-footer-goldmetal-others .aysw-left{ float:left; padding:10px 0 15px 0; line-height:200%;}

.aysw-footer-goldmetal{width:33.32%;}
// 底部加上最小宽度，集团友情链接的地方也需要改，因为用户中心的是940宽，margin调小点
.aysw-footer-copyright i {margin: 0 8px;}
.aysw-footer{min-width:997px;}
