
//RDS和OSS----------------------------------------------------------------------------------
//RDS产品功能表格
.rds-description{
    margin-top:15px;
}
//rds价格总览标题
.rds-price-title{
    font-size:12px;
    line-height: 30px;
    display:inline-block;
    *display:inline;
    zoom:1;
    height: 30px;
    padding-left:15px;
    i{
        margin-left:20px;
        background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369120893_1_174.png) no-repeat 0 -699px;
        width:24px;
        height: 12px;
        display:inline-block;
        *display:inline;
        zoom:1;
        vertical-align:middle;
        overflow: hidden;
    }
}
//rds
.rds-price-tab{
    padding-top:15px;

}
//价格预览样式
.price-direction{
    position: relative;
    margin-top:20px;
    zoom:1;
    .price-direction-tab{
        position: absolute;
        top: -49px;
        left:90px;
        span{
            position:relative;
            margin-right: 10px;
            cursor:pointer;
            zoom:1;
            ins{
                position: absolute;
                border-style:solid;
                border-width:4px;
                border-color:#000 #fff #fff;
                right:0px;
                top:5px;
            }
            i{
                margin-right:3px;
                color:#BFBFBF;
                font-size:16px;
                vertical-align: middle;
            }
            .icon-deduction{
                background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369116005_56_506.png) no-repeat 0 -750px;
                width:15px;
                height: 15px;
                display:inline-block;
                *display:inline;
                *zoom:1;
                vertical-align:middle;
            }
            .icon-arrears{
                background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369116005_56_506.png) no-repeat 0 -796px;
                width:18px;
                height: 18px;
                display:inline-block;
                *display:inline;
                *zoom:1;
                vertical-align:middle;
            }
        }
        .arrow-down{
             ins{
                border-color:#fff #fff #000;
                top:1px;
             }
        }
    }
    .deduction-legend{
        display:none;
        .poptip-arrow{
            left:124px;
        }
    }
    .arrears-legend{
        display:none;
        .poptip-arrow{
            left:208px;
        }
    }
    .price-tab-content{
        border:1px solid #FEC578;  
        padding:10px 40px 10px 10px;
        background-color: #FFFCF3;
        .poptip-arrow{
            em {
                color:#FEC578; 

            }
            span{
                color:#FFFCF3;}
            }
            .close-btn{
                position:absolute;
                right: 10px;
                top:10px;
                font-size:10px;
                color:#666;
            }
            .close-btn:hover{
                color:red;
            }
        }
}
//表格间距
.oss-price-1{
    margin-top:20px;

}
.oss-price-2,.oss-price-3{
    margin-top:10px;

}

//tab样式
.tab-1 {
    .tab-items {
        height:32px;
        padding-left:15px;
    }
    .tab-items li {
        float:left;
    }
    .tab-items li span {
        display:block;
        position:relative;
        height:29px;
        padding:0 5px 0 15px;
        line-height:29px;
        background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369131320_15_547.png) no-repeat 0 -49px;
        top:4px;
        cursor:pointer;
        font-weight:bold;
        color:#676767;
    }
    .tab-items .tab-item-1 span {
        right:5px;
    }
    .tab-items li span ins {
        position:absolute;
        right:-10px;
        top:0;
        width:10px;
        background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369131320_15_547.png) no-repeat -179px -49px;
        height:29px;
    }
    .tab-items .tab-item-current span {
        height:32px;
        line-height:32px;
        background-position:0 -6px;
        top:1px;
        z-index:1;
        color:#000;
    }
    .tab-items .tab-item-current span ins {
        height:32px;
        background-position:-179px -6px;
    }

}

//rds产品详情里的小图标样式
.aly-container .tab-content .tab-panel h3 .database-link{
    margin-left: 20px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    font-size:12px;
    i{
        margin-right: 3px;
        display:inline-block;
        *display:inline;
        *zoom:1;
          background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369633926_3_664.png) no-repeat 0 -734px;  
          width:19px;
          height: 18px;
          vertical-align: middle;
    }
}

.aly-container .tab-content .tab-panel h3 .vertion-link{
    margin-left: 20px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    font-size:12px;
    i{
        margin-right: 3px;
        display:inline-block;
        *display:inline;
        *zoom:1;
          background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369633926_3_664.png) no-repeat 0 -782px;  
          width:19px;
          height: 18px;
          vertical-align: middle;
    }
}

