//选型推荐的布局
.wrap-1{
    width: 100%;
    .main-1{
        width: 940px;
        margin:30px auto 0;
        padding-bottom:30px;
        _margin-top:30px;
    }
}
//选型推荐的盒子
.box-1{
    .box-topbar{
        height: 50px;
        border:1px solid #E0E0E0;
        border-bottom:0 solid;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background:-moz-linear-gradient(top,#F8F8F8,#fff);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8FF',endColorstr='#FFFFFFFF');
    }
    .box-body{
        border:1px solid #E0E0E0;
        border-top:0 solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom:30px;
    }
}
//选型头部标题的样式
.content-header{
    padding-bottom:30px;
    .title-list-1{
        padding-left:35px;
        position:relative;
        zoom:1;
        .li-1{
            position:absolute;
            left:0;
            top:0;
        } 
        .li-2{
            font-size:18px;
            line-height: 18px;
        }
        .li-3{
            line-height: 14px;
            color:#A9A9A9;
        }        
    }


}
.font-16gray{
    color:#959595;
}
.font-red{
    color:#EA0000;
}
//表单样式
.form-1{
    padding:0 40px;
    legend{
        display: block;
        width:100%;
        _width:auto;
        height: 35px;
        line-height: 35px;
        background:-moz-linear-gradient(top,#F8F8F8,#ECECEC);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#ECECEC');
        font-size:14px;
        color:#959595;
        margin-bottom:25px;
        .span-1{
            float: left;
            padding:0 22px;
            font-weight: bold;
            background:-moz-linear-gradient(top,#D2D2D2,#E9E9E9);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2D2D2',endColorstr='#E9E9E9');
            border-right:2px solid #fff;
            zoom:1;
            height: 35px;
        }
        .span-2{
            float: left;
            position:relative;
            padding-left:22px;
            ins{
                display:block;
                position:absolute;
                width:0;
                height: 0;
                border-width:6px;
                border-style:solid;
                border-color:#E9E9E9 #fff #fff;
                top:35px;
                left:-44px;
            }
        }
    }
    .form-item{
         padding-left:230px;
         padding-bottom:20px;
        .form-item-lable{
            float:left;
            text-align:right;
            width:210px;
            margin-left:-230px;
            font-size:14px;

        }
        .form-item-tip{
            margin-left:10px;
        }
    }
    .form-item-buttton{
        border-top:1px dotted #CCC;
        padding-top:20px;
    }
    .form-item:after{
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
}
//选型推荐的推荐方案标题
.title-box-1{
    height:35px;
    background-color:#FAFAFA;
    padding: 0 20px;
    line-height: 35px;
    b{
        float:left;
        font-size:14px;
        font-weight:bold;
    }
    span{
        float:left;
        color:#959595;
    }
    a{
        float:right;
    }
}

.box-2{
    border:1px solid #E9E9E9;
    padding:20px;
    position: relative;
    zoom:1;
    .ins-2{
        display:block;
        width: 74px;
        height: 74px;
        position:absolute;
        top:-1px;
        left:-1px;
        background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369638143_66_420.png) no-repeat 0 0;
    }
    .ins-1{
        display:block;
        width: 74px;
        height: 74px;
        position:absolute;
        top:-1px;
        left:-1px;
        background:url(http://oss.aliyuncs.com/aliyun_portal_storage/1369638143_66_420.png) no-repeat -112px 0;
    }
    .ul-list-1{
        padding:10px 0 0 45px;
        height: 50px;
        border-right:1px solid #ccc;
        width:165px;
        float:left;
        
        .li-1{
            font-size:16px;
            font-weight:bold;
        }
        .li-2{
            font-size:14px;
            color:#EA0000;
        }
    }
    .ul-list-2{
        padding:5px 0 0 25px;
        height:55px;
        width:370px;
        float:left;
        border-right:1px solid #ccc;
        li{
            float:left;
            width:180px;
            font-size:14px;
            line-height: 25px;
            b{
                font-size:16px;
                font-weight: bold;
            }
        }
    }
    .buy-button-container{
        float:left;
        padding:10px 0 0 40px;
    }

}
//OSS选型推荐省钱小窍门
.oss-text-list{
    dl{
        padding-top:15px;
        line-height:25px;
        dt{
            font-weight: bold;
        }
    }
}
.program-2{
    margin-top:20px;
}
.method-2{
    margin-top:20px;
}
.content-body{

}
.input-1{
    height:15px; 
    width:180px;
    border:1px solid #cfcfcf;
    border-radius:3px; 
    padding:4px 5px; 
    font:12px/15px Microsoft YaHei,Tahoma,Geneva,sans-serif,SimSun
}
