aside.left-sidebar
  .left-nav-container
    dl.product-menu-1 
      dt 弹性计算
      dd 
        a.link-ecs(href="ecs.html") 
          span.span-1 
            i.icon-ecs
            云服务器 ECS
      dd 
        a.link-slb(href="slb.html") 
          span.span-1  
            i.icon-slb
            负载均衡 SLB
    dl.product-menu-1 
      dt 数据存储
        i.point&bull;
        计算

      dd 
        a.link-rds(href="rds.html") 
          span.span-1  
            i.icon-rds
            关系型数据库服务 RDS
      dd 
        a.link-cdn(href="cdn.html") 
          span.span-1  
            i.icon-cdn
            内网分发网络 CDN
      dd 
        a.link-oss(href="oss.html") 
          span.span-1 
            i.icon-oss
            开放存数服务 OSS
      dd 
        a.link-odps(href="odps.html") 
          span.span-1  
            i.icon-odps
            开放数据处理服务 ODPS
      dd 
        a.link-ots(href="ots.html") 
          span.span-1  
            i.icon-ots
            开放结构化数据服务 OTS
    dl.product-menu-1
      dt 云引擎
      dd 
        a.link-ace(href="ace.html") 
          span.span-1 
            i.icon-ace
            云引擎 ACE
    dl.product-menu-2.fix-clear 
      dt 安全与其它
      dd 
        a(href="jiankong.html") 云监控
      dd 
        a(href="yundun.html") 云盾
      dd 
        a(href="") 云邮箱
      dd 
        a(href="") 云搜索
      dd 
        a(href="") 云地图
      dd 
        a(href="") 云风云
