style
	.notice{background-color:#fffdf1;}
	.notice .layout-inner{margin: 0 auto;height:37px;line-height:37px;_padding-top:8px;_height:29px;color: #ee0000;text-align:center;}
	#mail-tip-box .mail-tip{
			position:absolute;
			top:0px;
			left:295px;
		}
	#mail-tip-box{
		display:none;
	}
	#mail-tip-box .mail-tip .small-img{
		margin-top:21px;
	}
	@media screen and (min-width: 1280px){
		.small-img{
			display:none;
		}
		.big-img{
			display:block;
		}
	}
	@media screen and (max-width: 1280px){
		#mail-tip-box .mail-tip{
			top:21px !important;
		}
		.small-img{
			display:block;
			margin:0 !important;
		}
		#mail-tip-box .mail-tip{
			left:208px !important;
		}
		.big-img{
			display:none;
		}
	}
	.screen997 .small-img{
		display:block;
	}
	.screen997 .big-img{
		display:none;
	}
	.screen997 .mail-tip{
		left:208px !important;
	}
	.screen1200 .small-img{
		display:none;
	}
	.screen1200 .big-img{
		display:block;
	}
	#mail-tip-box .mail-tip .close{
		position:absolute;
		display:inline-block;
		*display:inline;
		*zoom:1;
		*font-size:0;
		top:10px;
		right:0;
		width:10px;
		height:9px;
		background:url(http://img02.taobaocdn.com/tps/i2/T1TMKkFXtaXXX1zzc_-10-18.png) 0 0 no-repeat;
	}
	#mail-tip-box .mail-tip .close:hover{
		background-position:0 -9px;
	}
.notice
	.layout-inner
		img(src="http://img04.taobaocdn.com/tps/i4/T13jKjFhVXXXXaL.E_-11-15.png",style="vertical-align:middle;") 
		| 因中国雅虎运营策略调整，中国雅虎邮箱于2013/8/19停止服务，请尽快完成迁移，
		a(href="http://help.cn.yahoo.com/answerpage_3989.html",target="_blank") 点此查看迁移教程 
		| 。咨询热线：010-65986366 ( 工作日9:00-18:00 )
#mail-tip-box(style="position:relative;z-index:400;display:none;")
	.layout-inner(style="position:relative;")
		.mail-tip
			img.big-img(src="http://img04.taobaocdn.com/tps/i4/T13.qjFmVaXXbE6prg-164-77.gif",alt="")
			img.small-img(src="http://img01.taobaocdn.com/tps/i1/T1mpelFd0XXXcJ.bTa-138-68.gif",alt="")
			a#J_mail_tip_close.close(href="")
script
	(function() {
		function getCookie() {
			var info = new Object();
			var values = document.cookie.split(';');
			var pair;
			var key;
			for(var i=0,len=values.length;i<len;i++) {
					values[i] = values[i].replace(/\s/,'');
					var pair = values[i].split('=');
					info[pair[0]] = pair[1];
			}
			return info;
		}
		if(getCookie()['mailTip'] || $('.login-uname').length) {
			$('#mail-tip-box').remove();
		} else {
			$('#mail-tip-box').show();		
			$('#J_mail_tip_close').click(function(e) {
				e.preventDefault();
				$('#mail-tip-box').remove();
				document.cookie = 'mailTip=1';
			});
		}
	})();
	
	
	
