style
	.notice{background-color:#fffdf1;}
	.notice .layout-inner{margin: 0 auto;height:37px;line-height:37px;_padding-top:8px;_height:29px;color: #ee0000;text-align:center;}
.notice
	.layout-inner
		| 尊敬的用户：您好，10月13日凌晨0：00-0：30客服电话系统将进行升级，升级期间可能出现电话无法接通，您可以稍后再重新尝试拨打，
		a(href="http://bbs.aliyun.com/read.php?tid=146888") 点此查看详情


