!!! 5
html(class='no-js', lang='zh-cn')
  head
    meta(charset='utf-8')
    link(rel="stylesheet",href="styles/common.css")

    //if lt IE 9
      script(src="http://static-img3.cdn.aliyuncs.com/js/common/html5.js")
  body(class="payment")
    include inc/topbar
    include inc/header-plain

    include inc/footer.html
    block footer

