extends layout
block vars
  productName = "product-odps"
block titleName
  title ODPS - 阿里云-打造数据第一平台
block css
block header
  include inc/header-index
block container
  .product-overview.fix-clear
    .overview-container
      h1
        i.icons.icons-odps-48
        | 开放数据处理服务(ODPS)
      p.introduce ODPS(Open Data Processing Service) 是基于阿里云完全自主知识产权的云计算平台构建的数据存储与分析的平台。ODPS提供大规模数据存储与数据分析，用户可以使用ODPS平台上提供的数据模型工具与服务，同时也支持用户自己发布数据分析工具。ODPS平台一期暂时只提供大规模数据存储与离线数据分析服务。
    .buy-container
      .buy-area
        p 最划算、最稳定、最安全
          p 经济型云服务器低至
            span ￥89/月
        a.btn.btn-large.btn-orange(role="button") 立即购买
  .product-tab
    .product-topnav
      ul.nav.nav-tabs#product_tab
        li.active(role="tab")
          a(href="#detail") 产品详情
        li(role="tab")
          a(href="#case") 客户案例
        li(role="tab")
          a(href="#help") 产品帮助
  .tab-content.page-buy
    .tab-panel.first
      .anchor
        a(id="detail",name="detail") &nbsp
      h2.h2-1
        span 产品详情
      div.detail-info
        img(src="http://imgs-storage.cdn.aliyuncs.com/1345542863_1.INDEX.DETAIL.INDEX.ODPS.DETAIL.BODY_18.gif")
        h4 离线数据分析服务
        p  大规模数据存储与离线数据分析服务基于MapReduce框架支持直接使用SQL语句对海量数据进行离线分析。通过数据分裂将海量数据散布在整个集群内部，这样，用户的数据容量的瓶颈问题得以解决。同时计算压力也被平均分布在集群内部，也很好的解决了计算性能问题。 
      div.detail-info
        img(src="http://imgs-storage.cdn.aliyuncs.com/1345542915_1.INDEX.DETAIL.INDEX.ODPS.DETAIL.BODY_18.gif")
        h4 大规模存储服务
        p  系统提供错误监控机制，对于故障采取自动迁移，采用多份备份来确保数据的安全性，系统达到99.95%的可用性。同时提供完整的sql语法支持，支持用户复杂的数据分析需求。提供web portal, Client工具与Rest开放接口来为用户服务，用户可以根据自己的需求选择合适的方式来使用该服务。 
    .tab-panel
      .anchor
        a(id="case",name="case") &nbsp
      h2 客户案例
      .customer-panel
        .panel-container.panel-container-loading(id="customer_slideview")
        .more-customer
          h4 更多客户
          .more-customer-wrap
            a(href="#")
              img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57") 
            a(href="#")
              img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
            a(href="#")
              img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
            a(href="#")
              img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
            a(href="#")
              img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
        .panel-left
          a(id="customer_slideview_prevbtn",href="#") 
        .panel-right
          a(id="customer_slideview_nextbtn",href="#") 
    .tab-panel
      .anchor
        a(id="help",name="help") &nbsp
      h2 产品帮助
      .help
        dl.dot
          dt 操作指南
          dd
            a(href="") 远程连接for linux
          dd
            a(href="") Linux FTP服务配置
          dd
            a(href="") 远程连接for Windows
          dd
            a(href="") Windows FTP服务配置
        dl.dot
          dt 资料中心
          dd
            a(href="") 云服务器用户管理指南
          dd
            a(href="") 云服务器技术白皮书
        dl.dot.more
          dt.more.fix-clear 
            span 常见问题
            a(href="") 更多...
          dd
            a(href="") ip类相关问题
          dd
            a(href="") 机房相关问题
          dd
            a(href="") 配置升级相关问题
          dd
            a(href="") 操作系统相关问题 

  script
    (function(){          
          Alipw.importClass('Alipw.SlideView');
          AYSW.product.slideCustomerViews =[];
          AYSW.product.slideCustomerViews.push([
                      '<ul class="customer-item">',
                              '<li class="li-title">囧记单词</li>',
                              '<li class="li-content-1">移动APP开发者解决方案</li>',
                              '<li class="li-content-2"><span>急需解决：</span>用户增长速度快，流量急需扩容，服务成本过高</li>',
                              '<li class="li-content-2"><span>购买服务：</span>云服务器V型+<a href="#">关系型数据库</a></li>',
                              '<li class="li-logo"> <img width="90" height="90" src="http://img02.taobaocdn.com/tps/i2/T10Nx4XrBXXXbCFbsb-100-100.jpg"></li>',
                              '<li class="li-info poptip-container">',
                                '<div class="poptip-arrow"><em>◆</em><span>◆</span></div>',
                                '<h4>客户使用心得：</h4>',
                                '<p>从2012年开始就想把服务器跟第三方更加专业的合作伙伴进行合作。综合对比下来觉得阿里云的云服务在目前的云主机里是做得比较好的，所以很原意和你们进行合作，速度和稳定性方面都很好。</p>',
                              '</li>',
                        '</ul>'
                        ].join(''));
          AYSW.product.slideCustomerViews.push([
                      '<ul class="customer-item">',
                              '<li class="li-title">囧记单词</li>',
                              '<li class="li-content-1">移动APP开发者解决方案</li>',
                              '<li class="li-content-2"><span>急需解决：</span>用户增长速度快，流量急需扩容，服务成本过高</li>',
                              '<li class="li-content-2"><span>购买服务：</span>云服务器V型+<a href="#">关系型数据库</a></li>',
                              '<li class="li-logo"> <img width="90" height="90" src="http://img02.taobaocdn.com/tps/i2/T10Nx4XrBXXXbCFbsb-100-100.jpg"></li>',
                              '<li class="li-info poptip-container">',
                                '<div class="poptip-arrow"><em>◆</em><span>◆</span></div>',
                                '<h4>客户使用心得：</h4>',
                                '<p>从2012年开始就想把服务器跟第三方更加专业的合作伙伴进行合作。综合对比下来觉得阿里云的云服务在目前的云主机里是做得比较好的，所以很原意和你们进行合作，速度和稳定性方面都很好。</p>',
                              '</li>',
                        '</ul>'
                        ].join(''));
            //登录区块
            var odpsHtml = '<p>开放数据处理服务体验目前已暂停</p><p>请继续关注我们的新版本</p>';
            $(".buy-container .buy-area").html(odpsHtml);
            //显示
            AYSW.product.viewBuyArea();
            
      })();
