!!! 5
html(class="no-js", lang="zh")
  head
  meta(charset="utf-8")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  link(rel="stylesheet",href="styles/common.css")
  link(rel="stylesheet",href="iconfont/style.css")
  // [if gt IE 8] <!
  script(src="http://static-img3.cdn.aliyuncs.com/js/common/html5.js")
  // <![endif]
  script(src="http://static-img3.cdn.aliyuncs.com/js/lib/alipw/classes/alipw-base.js?v=1365508998")
  // [if gt IE 7] <!
  script(src="iconfont/lte-ie7.js")
  // <![endif]
  body(class="product")
    include inc/topbar
    include inc/header-service
