extends layout
block vars
	productName = "product-yundun"
block titleName
	title 云盾 - 阿里云-打造数据第一平台
block css
block header
	include inc/header-index
	style
		.product-yundun .features{
			background-image:url(http://gtms01.alicdn.com/tps/i1/T1vrMPFd4fXXXQixsF-297-370.png) !important;
		}
		.product-yundun .features li{
			width:70%;
		}
block container
	.product-overview.fix-clear
		.overview-container
			h1
				i.icons.icons-yundun-48
				| 云盾
			p.introduce 云盾是阿里巴巴集十年攻防技术积累，为客户提供全方位安全服务。主要包括防DDoS、防入侵、以及网站安全检测等实用性功能。
		.buy-container
			.buy-area
	.product-tab
		.product-topnav
			ul.nav.nav-tabs#product_tab
				li.active(role="tab")
					a(href="#detail") 产品详情
				li(role="tab")
					a(href="#case") 应用场景及案例
				li(role="tab")
					a(href="#help") 产品帮助
	.tab-content.page-buy
		.tab-panel
			.anchor
				a(id="detail",name="detail") &nbsp
			h2.h2-1
				span 产品详情
			h3
				span 如何使用
			ul.info-list.dot
				li 购买云主机并且开通云盾安全服务。
				li 登录阿里云管理控制台进云盾服务的管理，如DDoS阈值设置、后门清除、漏洞和木马检测报告查看等安全功能。
			h3
				span 产品优势
			ul.info-list.features
				li.features-item
					h4
						span.icon-good
						|	一键开通 无需部署
					ul.features-info
						li 无需为你的云服务器购买昂贵安全设备、进行复杂的安全配置、用户只需开通云盾安全服务，网站即可获得全面安全保护。
				li.features-item
					h4
						span.icon-good
						|	贴心管家 全面周到
					ul.features-info
						li 通过主动防御和风险提醒方式，对DDoS和黑客入侵提供实时防护和提醒,同时定期对网站潜在的风险进行检测和提醒,解除您的一切安全顾虑。
				h3
					span 产品功能
				ul.info-list.dot
					li 防DDoS服务
					li 网站后门检测
					li 主机密码暴力破解防御
					li 异地登录提醒
					li 网页漏洞检测
					li 网页木马检测
					li 端口安全检测
		.tab-panel
			.anchor
				a(id="case",name="case") &nbsp
			h2 应用场景及案例
			ui.info-list.dot
				li 解决云服务器被DDoS等网络攻击导致的无法使用问题。
				li 为云服务器提供包括密码暴力破解、网站后门检测和处理、异地登录在内的反入侵服务。
				li 为云服务器提供安全体检报告。
			.customer-panel
				.panel-container.panel-container-loading(id="customer_slideview")
				.more-customer
					h4 更多客户
					.more-customer-wrap
						a(href="#")
							img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
						a(href="#")
							img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
						a(href="#")
							img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
						a(href="#")
							img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
						a(href="#")
							img(src="http://imgs-storage.cdn.aliyuncs.com/1340638705_1.INDEX.DETAIL.INDEX.VM.CASE.MORE.LIST_18.jpg",width="118", height="57")
				.panel-left
					a(id="customer_slideview_prevbtn",href="#")
				.panel-right
					a(id="customer_slideview_nextbtn",href="#")
		.tab-panel
			.anchor
				a(id="help",name="help") &nbsp
			h2 产品帮助
			.help
				dl.dot
					dt 操作指南
					dd
						a(href="") 远程连接for linux
					dd
						a(href="") Linux FTP服务配置
					dd
						a(href="") 远程连接for Windows
					dd
						a(href="") Windows FTP服务配置
				dl.dot
					dt 资料中心
					dd
						a(href="") 云服务器用户管理指南
					dd
						a(href="") 云服务器技术白皮书
				dl.dot.more
					dt.more.fix-clear
						span 常见问题
						a(href="") 更多...
					dd
						a(href="") ip类相关问题
					dd
						a(href="") 机房相关问题
					dd
						a(href="") 配置升级相关问题
					dd
						a(href="") 操作系统相关问题
block buy_tooltips
	p 最划算、最稳定、最安全
	p 经济型云服务器低至
		span ￥89/月
block footer
	script
				(function(){

							Alipw.importClass('Alipw.SlideView');

							AYSW.product.slideCustomerViews =[];
							AYSW.product.slideCustomerViews.push([
													'<ul class="customer-item">',
																	'<li class="li-title">囧记单词</li>',
																	'<li class="li-content-1">移动APP开发者解决方案</li>',
																	'<li class="li-content-2"><span>急需解决：</span>用户增长速度快，流量急需扩容，服务成本过高</li>',
																	'<li class="li-content-2"><span>购买服务：</span>云服务器V型+<a href="#">关系型数据库</a></li>',
																	'<li class="li-logo"> <img width="90" height="90" src="http://img02.taobaocdn.com/tps/i2/T10Nx4XrBXXXbCFbsb-100-100.jpg"></li>',
																	'<li class="li-info poptip-container">',
																		'<div class="poptip-arrow"><em>◆</em><span>◆</span></div>',
																		'<h4>客户使用心得：</h4>',
																		'<p>从2012年开始就想把服务器跟第三方更加专业的合作伙伴进行合作。综合对比下来觉得阿里云的云服务在目前的云主机里是做得比较好的，所以很原意和你们进行合作，速度和稳定性方面都很好。</p>',
																	'</li>',
														'</ul>'
														].join(''));
							AYSW.product.slideCustomerViews.push([
													'<ul class="customer-item">',
																	'<li class="li-title">囧记单词</li>',
																	'<li class="li-content-1">移动APP开发者解决方案</li>',
																	'<li class="li-content-2"><span>急需解决：</span>用户增长速度快，流量急需扩容，服务成本过高</li>',
																	'<li class="li-content-2"><span>购买服务：</span>云服务器V型+<a href="#">关系型数据库</a></li>',
																	'<li class="li-logo"> <img width="90" height="90" src="http://img02.taobaocdn.com/tps/i2/T10Nx4XrBXXXbCFbsb-100-100.jpg"></li>',
																	'<li class="li-info poptip-container">',
																		'<div class="poptip-arrow"><em>◆</em><span>◆</span></div>',
																		'<h4>客户使用心得：</h4>',
																		'<p>从2012年开始就想把服务器跟第三方更加专业的合作伙伴进行合作。综合对比下来觉得阿里云的云服务在目前的云主机里是做得比较好的，所以很原意和你们进行合作，速度和稳定性方面都很好。</p>',
																	'</li>',
														'</ul>'
														].join(''));

							jQuery.getJSON('/promotion/newproductajax',{type:'yundun',timestamp:new Date().getTime()},function(result) {
							if(!result) {
								return;
							}
							var buyArea = $(".buy-container .buy-area");
							var defaultTipHTML = '<a role="button" href="http://console.aliyun.com/yundun/" class="btn btn-large btn-orange buy-widget-btn" data-ga="YUNDUN.BTN.免费开通">免费开通</a>';
							if(result && result.code === -2) {
								// 未登录
								buyArea.html( defaultTipHTML );
								return;
							}

							if(result.code === 200) {

								if(result.data.count > 0) {
									buyArea.html('<a role="button" target="_blank" href="http://console.aliyun.com/yundun/" class="btn btn-large btn-black buy-widget-btn" data-ga="">进入管理控制台</a>');
									return;
								}
								if(!result.data.ecsCount)	{
									html.push('<p>需要<a href="http://buy.aliyun.com/">购买云服务器</a>才可以开通云盾安全服务</p><p><a role="button" href="javascript:;" class="btn btn-large btn-disable buy-widget-btn" data-ga="YUNDUN.BTN.免费开通">免费开通</a></p>');
								}else {
									html.push( defaultTipHTML );
								}
								buyArea.html( html.join('') );
							}

						});
						//显示
						AYSW.product.viewBuyArea();
					})();
