!!! 5
html(class='no-js', lang='zh-cn')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title 阿里云-游戏解决方案
		link(rel="stylesheet",href="../styles/common.css")
		link(rel="stylesheet",href="http://static-img2.cdn.aliyuncs.com/??css/new-common/iconfont/style.css?v=1378810100")
		link(rel="stylesheet",href="css/solution.css")

		//if lt IE 9
			script(src="http://static-img3.cdn.aliyuncs.com/js/common/html5.js")


		script(src="http://static.aliyun.com/js/lib/alipw/classes/alipw-all.js")
		script(src="js/game_solution.js")

		//if lt IE 8
			script(src="iconfont/lte-ie7.js")
	body.index
		include ../inc/topbar
		include ../inc/header-index
		.game-banner-area
			.user-info
				.user-info-area
					.login-area#login_area
						.top
							a.btn.btn-small.btn-orange(href="https://account.aliyun.com/register/register.htm?oauth_callback=http%3A%2F%2Fwww.aliyun.com%2F",style="float:left;") 免费注册
							a.btn.btn-small.btn-orange(href="https://account.aliyun.com/login/login.htm?oauth_callback=http%3A%2F%2Fwww.aliyun.com%2F",style="float:right;") 登录
						.middle
							| 通过阿里云游戏开发者认证
							br
							| 可获得
							strong
								| 3000元
							| 开发扶持基金
							br
							| 入驻阿里
							strong
								| 上亿玩家
							| 分发渠道
						.bottom
							a.btn.btn-large.btn-orange(href="http://mail.aliyun.com",target="_blank")
								|	马上认证
			.slider#slider
				.slider-item.active
					a(title='昆塔盒子总动员', target='_blank', style='', href='http://promotion.aliyun.com/kunta')
						img(src="http://riotdesign.eu/assets/img/home-slider/bg-lp.jpg")
				.slider-item
					a(title='推荐有礼，赚取集分宝', target='_blank', style='', href='http://promotion.aliyun.com/act/recommend-buy')
						img(src="http://riotdesign.eu/assets/img/home-slider/bg-segno.jpg")
				.slider-item
					a(title='续费有惊喜', target='_blank', style='', href='http://www.aliyun.com/act/old-customer-favourable/index.html')
						img(src="http://riotdesign.eu/assets/img/home-slider/bg-archea.jpg")
				.slider-item
					a(title='金牌服务', target='_blank', style='', href='http://promotion.aliyun.com/act/newjpfw.html')
						img(src="http://riotdesign.eu/assets/img/home-slider/bg-goodssolutions.jpg")
			ul.slider-index#slider_index
				li.slider-index-item
					a(href="http://www.aliyun.com")
						div
							h2 游戏开发者认证
							span 获得 3000 元开发扶持基金
				li.slider-index-item
					a(href="http://www.aliyun.com")
						div
							h2 游戏开发者认证
							span 获得 3000 元开发扶持基金
				li.slider-index-item
					a(href="http://www.aliyun.com")
						div
							h2 游戏开发者认证
							span 获得 3000 元开发扶持基金
				li.slider-index-item
					div
						h2 游戏开发者认证
						span 获得 3000 元开发扶持基金
		include inc/customers
		include ../inc/footer.html
		script
			(function(){
					function getCookie(){
					var info = new Object();
					var values = document.cookie.split(';');
					var pair;
					var key;
					for(var i=0,len=values.length;i<len;i++){
							values[i] = values[i].replace(/\s/,'');
							var pair = values[i].split('=');
							info[pair[0]] = pair[1];
					}
					return info;
				}
				var user_url = 'http://promotion.aliyun.test/solutions/statusforauth?type=game&cback=jsonp&cache='+new Date().getTime();
				var login_area = $('#login_area');
				var login_header = login_area.find('.top');
				var body = login_area.find('.middle');
				var footer = login_area.find('.bottom');
				jQuery.ajax({
					url:user_url,
					dataType:'jsonp',
					jsonp:"cback",
					success:function(data) {
						if(data.code !== 1) {
							var cookie = getCookie();
							var uid = cookie['login_aliyunid'];
							if(uid) {
								uid = uid.replace(/"/g,'');
							}
							login_header.html('欢迎您，<strong>'+ uid + '</strong>');
						}
						switch(data.code) {
							case 2: // 没有实名认证
								break;
							case 3: // 表单申请审核不通过
								body.html('<span class="error">抱歉，您未通过游戏开发者认证</span><br/>通过后可获得 <strong> 3000元 </strong> 开发扶持基金');
								footer.html('<a href="http://act.aliyun.test/tmsact/solution/game/submit-result.html" target="_blank" class="btn btn-large btn-orange">查看原因</a>');
								break;
							case 4: // 表单申请审核中
								body.html('您已成功提交游戏开发者认证<br/>通过后可获得 <strong> 3000元 </strong>开发扶持基金<br/>入驻阿里 <strong>上亿玩家</strong> 资源推广平台');
								footer.html('<a href="http://act.aliyun.test/tmsact/solution/game/submit-result.html" target="_blank" class="btn btn-large btn-orange">查看认证状态</a>');
								break;
							case 5: // 未提交表单申请
								break;
							case 6: // 参数错误
								break;
							case 200: // 表单提交成功
								if(data.coupons === 2) {
									body.html('您已通过阿里云游戏开发者认证<br/>通过后可获得 <strong>3000元 </strong>开发扶持基金<br/>入驻阿里 <strong>上亿玩家</strong>	资源推广平台');
									footer.html('<a href="http://promotion.aliyun.test/solutions/viewresult" target="_blank" class="btn btn-large btn-orange">查看详情</a>');
								}else {
									body.html('您已通过阿里云游戏开发者认证<br/>游戏部署上云<br/>入驻阿里云 <strong>上亿玩家</strong> 资源推广平台！');
									footer.html('<a href="bushu.html" style="float:left;" class="btn btn-small btn-orange">我要部署</a><a href="tuiguang.html" style="float:right;" class="btn btn-small btn-orange">我要入驻</a></div>');
								}
								break;
							case 201:
								body.html('游戏部署上云<br/>入驻阿里云运营推广平台<br/>获取 <strong>上亿玩家</strong> 资源推广平台！');
								footer.html('<a href="" style="float:left;" class="btn btn-small btn-orange">我要部署</a><a href="" style="float:right;" class="btn btn-small btn-orange">我要入驻</a></div>');
						}
						$('#login_area').fadeIn();
						computeBanner();
					}
				});
				//首页banner焦点广告切换功能
				var slider = $('#slider');
				var sliderIndex = $('#slider_index');
				var slideParent = slider.parent();
				var sliderItem = slider.find('.slider-item');
				var indexItem = sliderIndex.find('.slider-index-item');
				function showSlider(sliderOne) {
					var activeItem = sliderItem.filter('.active');
					var next;
					if(sliderOne) {
						next = sliderOne
					}else {
						next = (activeItem.length && activeItem.next('.slider-item').length > 0) ? activeItem.next() : sliderItem.eq(0);
					}
					next.css('z-index',2);
					// 取得索引，让下面的索引数字亮起来
					var index = sliderItem.index(next);
					indexItem.eq(index).addClass('active').siblings().removeClass('active');

					activeItem.fadeOut(300,function() {
						activeItem.css('z-index',1).show().removeClass('active');
						next.css('z-index',3).addClass('active');
					});
				}

				// 默认显示第一个
				//showSlider(sliderItem.eq(0));
				// 第一个显示之后把其它的都显示，要不然会有闪动感觉
				sliderItem.show();
				//定时器
				var interval;
				function start() {
					interval = setInterval(function() {
						showSlider();
					},5000);
				}

				start();

				//点击bannner数字导航切换到相应广告
				var hoverTimer;
				indexItem.hover(function(e) {
					if( $(this).hasClass('active') ) {
						return;
					}
					e.preventDefault();
					var index = indexItem.index( $(this) );
					hoverTimer = setTimeout(function() {
						clearInterval(interval);
						clearTimeout(hoverTimer);
						showSlider(sliderItem.eq(index));
						//点击之后先清除定时器，显示完后再开启定时器，要不然占快会乱掉
						start();
					},200);
				},function() {
					clearTimeout(hoverTimer);
				});

				//鼠标指上去暂停轮播
				slider.hover(function() {
					clearInterval(interval);
				},function(){
					start();
				});

				//响应式处理
				var topbar = $('.aly-topbar-wrap');
				var header = $('header');
				var nav = header.find('nav');
				var bannerContainer = $('.game-banner-area');
				var login_area = $('#login_area');
				var computeBanner = function() {
					var winH = $(window).height();
					var winW = $(window).width();
					var bannerH = winH - topbar.height() - header.height();
					var sliderIndexH = $('#slider_index').height();
					var bannerImg= $('#slider .active img');
					bannerContainer.height(bannerH);
					bannerContainer.find('img').height(bannerH - sliderIndexH +1);
					var isIE6 = jQuery.browser.msie && jQuery.browser.version < 7;
					if(isIE6) {
						if(bannerImg.height() > bannerH) {
							bannerImg.height(bannerH);
						}else if(bannerImg.width() > winW){
							bannerImg.width(winW);
						}
					}
					login_area.css('left',nav.offset().left + nav.width() - login_area.width());
				}
				computeBanner();
				$(window).resize(function() {
					computeBanner();
				});

				$('#slider .active img').load(function() {
					computeBanner();
				});
			})();

