.customers
	img(src="http://gtms03.alicdn.com/tps/i3/T1Ia94FbJdXXcXKpIK-1201-54.png")
	ul.customer-list
		li.customer-item
			img(src="http://placehold.it/64x64")
			br
			span.game-name 大掌门
			br
			span.developers 北京玩泄科技有限公司
		li.customer-item
			img(src="http://placehold.it/64x64")
			br
			span.game-name 大掌门
			br
			span.developers 北京玩泄科技有限公司
		li.customer-item
			img(src="http://placehold.it/64x64")
			br
			span.game-name 大掌门
			br
			span.developers 北京玩泄科技有限公司
		li.customer-item
			img(src="http://placehold.it/64x64")
			br
			span.game-name 大掌门
			br
			span.developers 北京玩泄科技有限公司
