aside.left-sidebar
  .left-nav-container
    dl.product-menu-1 
      dd 
        a.link-dev(href="ecs.html") 
          span.span-1 
            | 开发测试
      dd 
        a.link-deploy(href="slb.html") 
          span.span-1  
            | 部署上云
      dd 
        a.link-spread(href="slb.html") 
          span.span-1  
            | 推广创收
